{
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "no-cond-assign": ["error", "always"],
    "no-debugger": ["error"],
    "no-constant-condition": ["error"],
    "no-control-regex": ["warn"],
    "no-dupe-args": ["error"],
    "no-dupe-keys": ["error"],
    "no-duplicate-case": ["error"],
    "no-empty-character-class": ["error"],
    "no-empty": ["error"],
    "no-ex-assign": ["error"],
    "no-extra-boolean-cast": ["error"],
    "no-extra-semi": ["error"],
    "no-func-assign": ["error"],
    "no-inner-declarations": ["error"],
    "no-invalid-regexp": ["error"],
    "no-irregular-whitespace": ["error"],
    "no-negated-in-lhs": ["error"],
    "no-obj-calls": ["error"],
    "no-regex-spaces": ["error"],
    "no-sparse-arrays": ["error"],
    "no-unreachable": ["error"],
    "use-isnan": ["error"],
    "valid-jsdoc": ["error"],
    "valid-typeof": ["error"],
    "no-unexpected-multiline": ["error"],
    "accessor-pairs": ["error"],
    "consistent-return": ["error"],
    "curly": ["error"],
    "default-case": ["error"],
    "dot-notation": ["error"],
    "dot-location": ["error", "property"],
    "eqeqeq": ["error", "allow-null"],
    "guard-for-in": ["error"],
    "no-alert": ["error"],
    "no-caller": ["error"],
    "no-eq-null": ["error"],
    "no-eval": ["error"],
    "no-extend-native": ["error"],
    "no-extra-bind": ["error"],
    "no-fallthrough": ["error"],
    "no-floating-decimal": ["error"],
    "no-implicit-coercion": ["error"],
    "no-implied-eval": ["error"],
    "no-invalid-this": ["error"],
    "no-iterator": ["error"],
    "no-labels": ["error"],
    "no-lone-blocks": ["error"],
    "no-loop-func": ["error"],
    "no-multi-spaces": ["error"],
    "no-multi-str": ["error"],
    "no-native-reassign": ["error"],
    "no-new-func": ["error"],
    "no-new-wrappers": ["error"],
    "no-octal-escape": ["error"],
    "no-octal": ["error"],
    "no-process-env": ["error"],
    "no-proto": ["error"],
    "no-redeclare": ["error"],
    "no-return-assign": ["error", "always"],
    "no-script-url": ["error"],
    "no-self-compare": ["error"],
    "no-sequences": ["error"],
    "no-throw-literal": ["error"],
    "no-unused-expressions": ["error"],
    "no-useless-call": ["error"],
    "no-void": ["error"],
    "no-with": ["error"],
    "radix": ["error"],
    "wrap-iife": ["error", "outside"],
    "yoda": ["error", "never"],
    "no-catch-shadow": ["error"],
    "no-delete-var": ["error"],
    "no-label-var": ["error"],
    "no-shadow-restricted-names": ["error"],
    "no-shadow": ["error", { "builtinGlobals": true, "hoist": "all" }],
    "no-undef": ["error"],
    "no-unused-vars": ["error"],
    "no-use-before-define": ["error"],
    "callback-return": ["error"],
    "handle-callback-err": ["error"],
    "no-mixed-requires": ["warn", true],
    "no-new-require": ["error"],
    "no-path-concat": ["error"],
    "array-bracket-spacing": ["error", "never"],
    "block-spacing": ["error", "always"],
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "camelcase": ["error", { "properties": "never" }],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "comma-style": ["error", "last"],
    "computed-property-spacing": ["error", "never"],
    "consistent-this": ["error", "self"],
    "eol-last": ["error"],
    "func-style": ["error", "expression"],
    "indent": ["error", 2],
    "key-spacing": ["error", { "beforeColon": false, "afterColon": true }],
    "linebreak-style": ["error", "unix"],
    "new-parens": ["error"],
    "no-array-constructor": ["error"],
    "no-lonely-if": ["error"],
    "no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
    "no-multiple-empty-lines": ["error"],
    "no-nested-ternary": ["error"],
    "no-new-object": ["error"],
    "no-trailing-spaces": ["error"],
    "no-underscore-dangle": ["error"],
    "no-unneeded-ternary": ["error"],
    "object-curly-spacing": ["error", "always"],
    "one-var": ["error", "never"],
    "operator-assignment": ["error", "never"],
    "operator-linebreak": ["error", "after"],
    "padded-blocks": ["error", "never"],
    "quote-props": ["error", "consistent-as-needed"],
    "quotes": ["error", "single", "avoid-escape"],
    "semi-spacing": ["error", { "before": false, "after": true }],
    "semi": ["error", "always"],
    "keyword-spacing": ["error"],
    "space-before-function-paren": ["error", "always"],
    "space-in-parens": ["error", "never"],
    "space-infix-ops": ["error", { "int32Hint": true }],
    "space-unary-ops": ["error", { "words": true, "nonwords": false }],
    "spaced-comment": ["error", "always"],
    "arrow-parens": ["error"],
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "constructor-super": ["error"],
    "generator-star-spacing": ["error", "before"],
    "no-class-assign": ["error"],
    "no-const-assign": ["error"],
    "no-dupe-class-members": ["error"],
    "no-this-before-super": ["error"],
    "no-var": ["error"],
    "prefer-const": ["error"],
    "prefer-rest-params": ["error"],
    "require-yield": ["error"]
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "impliedStrict": true,
      "experimentalObjectRestSpread": true
    }
  }
}
