#wishlist-total {
  /* Ensure the total doesn't disturb the existing layout. */
  height: 0;

  /* Ensure the total comes _after_ the "Ship-to" address, if any. */
  clear: both;
}

#wishlist-total .total-text {
  font-style: italic;
}
